<style>
  .form-input {
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .inpute-answer {
    height: 100px; 
    display: flex;
    justify-content: center; 
  }
  .btn {
    height:30px;
    width:150px;
    color:white;
    background-color:crimson;
    border-radius: 5px;
  }
</style>
<div class="form-input" novalidate>
  <div class=".inpute-answer">
    <input 
      type="text"
      maxlength="300"
      class="form-input"
      rows="4"
      placeholder="10+10?"
      id="value">
  </div>
  <div class="button-container">
    <button
      class="btn"
      id="answer"
      type="submit"
      (click)="calc()"
    >
      Get answer
    </button>
  </div>
</div>
